@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: rgb(73, 58, 153);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
    

}

.logo{
    text-decoration: none;
    color: mintcream;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}


.navigation a{
    color: silver;
    text-decoration: none;
    font-size: 1.1em ;
    font-weight: 500;
    padding-left: 30px;

}

.navigation a:hover{
    color: rgb(189, 182, 253);
}

section {
    padding: 100px 200px;

}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: lightgray;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: darkslateblue;
    font-size: 1.4em ;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: lightslategray;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: rgb(rgb(133, 107, 107), rgb(36, 36, 36), rgb(120, 120, 192));
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: silver;
    background-color: slateblue;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.187em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px ;
    transition: 0.7s ease;

}

.main-btn:hover{
    background-color: rgb(66, 56, 134);
    transform: scale(1.1);
}

.social-icons a {
    color: cornflowerblue;
    font-family: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center ;
    color: cornflowerblue;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px ;
    
}


.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


.card {
    background-color: rgb(255, 255, 255);
    width: 21.25em ;
    box-shadow: 0 5px 45px rgba(1, 1, 1, 20%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.4s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: slateblue;
    font-size: 6em;
    text-align: center;
}

.info{
    text-align: center;
}

.info h3 {
    color: slategray;
    font-style: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.My-Edits {
    background-color: rgb(187, 180, 197);
}


.My-Edits .content{
    margin-top: 30px;

}

.edit-card {
    background-color: floralwhite;
    border: 5px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.5s ease;


}

.edit-card:hover{

    transform: scale(1.1) rotate(2deg); 
}
.edit-card:hover .edit-image{

    opacity: 0.9 ;
    transition: 0.5s ease;
}

.edit-image img{
    width: 100%;
}


.edit-info {
    padding: 1em;
}

.edit-category {
    font-size: 0.8px;
    color: rgb(82, 75, 126);
}


.Edit-title {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    margin-top: 10px;
}

.View-Edit{
    text-decoration: none;
    color: slategray;
}


.View-Edit:hover{
    color: rgb(120, 120, 192);
    transition: 0.5s ease;
}


.content .info p{
    font-size: 20px;
}

.content .info p :hover{
    color: rgb(120, 120, 192);
}

.footer{
    background-color: rgb(120, 120, 192);;
    color: lightgray;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}


.footer-title{
    font-size: 1.2em;
    font-weight: 500;
}

.footer-title span{
    color: lightskyblue;
}


.footer .social-icons a {
    font-size: 1.3em;
}

@media (max-width: 1023px){
    header{
        padding: 12px 20px;
    }
    .navigation{
        padding-left: 10px;

    }
    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px ;

    }

    .main-content h2{
        font-size: 1em;
    }
    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width : 641px){

    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3{
        font-size: 0.8em;
    }
}

@media (max-width: 300px){
    body{
        font-size: 10px;
    }

}